
@import url('https://fonts.googleapis.com/css?family=Parisienne|Sacramento|Walter+Turncoat');
@font-face{
    font-family:'Great Vibes';
    font-style: italic;
    font-weight: 400;
    src: local('Great Vibes'),
    url(Imagenes/GreatVibes-Regular.ttf)
}

@font-face {
    font-family: "Just Another Hand";
    src: url(Imagenes/just-another-hand.woff2)
}

@font-face{
    font-family: "Lobster";
    src: url(Imagenes/lobster.woff2)
}

body {
    background-color: #eeccaa;
}

h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

p.intro {
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Great Vibes';
    line-height: 200%;
    text-align: justify;
}

p.latin {
    margin: 0;
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
}

p.espanol {
    margin: 0 0 3rem;
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-align: right;
}

cite {
    text-decoration: underline;
}